fastapi
uvicorn
python-dotenv
sounddevice
numpy
websockets
httpx
python-multipart
PyQt6
pyautogui
mss
opencv-python
Pillow
pyscreeze
pywinauto
keyboard
mouse
langgraph
langchain
langchain-core
langchain-groq
browser-use
playwright
open-interpreter
crewai
autogen
semantic-kernel
composio-core
agents
langchain-ollama
pytesseract
pyperclip
edge-tts
pygame
faster-whisper
torch
